body {
    background-color: #f8f8f8;
    color: #333;
    margin: 0;
  }
  
  .flex-container {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 100%;
    gap: 8px; /* Spacing between columns */
  }
  
  .column {
    flex-basis: 48%; /* Each column takes up 45% of the flex-container width */
    /* Adjust the width as necessary for your design */
  }
  
  h1 {
    text-align: center;
    color: #000000;
    font-weight: bold;
    padding-bottom: 10px;
    
  }
  
  h2 {
    text-align: center;
    color: #000000;
    font-weight: bold;
    padding-bottom: 10px;
    border-bottom: 3px solid #21bd9e; 
  }
  
  .table-container {
    padding: 5px;
    border-radius: 15px;
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    width: 95%;
  }
  
  table {
    width: 100%;
    border-spacing: 0 10px;
    font-size: 0.95em;
  }
  
  tbody {
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  td, th {
    border: 1px solid #ddd;
    padding: 1px 1px;
    text-align: center;
    font-size: 0.90em;
    font-weight: bold;
    
  }

  th {
    background-color: #000000;
    color: white;
    font-weight: bold;
    padding: 5px;
    font-size: 1.2em;
  }
  
  td {
    border: 1px solid #ddd;
    padding: 10px 15px;
    text-align: center; 
    font-size: 0.90em;
    font-weight: bold;
  }
  
  td.details-button-cell {
    text-align: center; 
  }
  
  tbody tr:hover {
    background-color: #b4b4b4; 
  }
  
  .button-like-link {
    display: inline-block;
    background-color: #000000; 
    color: white;
    padding: 8px 10px;
    text-align: center;
    text-decoration: none;
    font-size: 0.85em;
    border : none;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.2s;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-weight: bold;
  }
  
  .button-like-link:hover {
    background-color: #20ac90; 
  }
  
  /* Filter Form Styles */
  .filter-form {
    text-align: center;
    margin-bottom: 0px;
  }
  
  .filter-form select,
  .filter-form input[type="submit"] {
    padding: 4px 10px;
    margin-right: 10px;
    border-radius: 4px;
    border: 1px solid #ddd;
    font-size: 0.8em;
  }
  
  .filter-form input[type="submit"] {
    background-color: #20ac90;
    color: white;
    cursor: pointer;
    
  }
  
  .filter-form input[type="submit"]:hover {
    background-color: red;
  }
  
  
  .status-badge {
    padding: 6px 8px;
    color: white;
    border-radius: 4px;
    font-size: 0.9em;
    margin: 2px;
    display: inline-block;
    
  }

  .status-request-created {
    background-color: #007bff; /* Blue */
}

.status-technician-assigned {
    background-color: #16a085; /* Green */
}

.status-build-in-progress {
    background-color: #ffc107; /* Yellow */
}

.status-build-ready {
    background-color: #dc3545; /* Red */
}

.status-request-completed {
    background-color: #6c757d; /* Grey */
}

.status-request-rejected {
    background-color: red; /* Grey */
}


  .components-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
}

.component-detail {
    position: relative;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}

.component-image {
    width: 50px;
    height: 50px;
    border: 1px solid #ddd;
    border-radius: 6px;
    padding: 2px;
    transition: all 0.3s ease;
}

.component-name-tooltip {
    visibility: hidden;
    min-width: 260px;
    background-color: #333;
    color: #fff;
    text-align: left;
    padding: 20px;
    border-radius: 6px;
    position: absolute;
    bottom: 125%;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    opacity: 0;
    transition: visibility 0s, opacity 0.3s ease;
    z-index: 2;
}

.component-name-tooltip::after {
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #333 transparent transparent transparent;
}

.component-detail:hover .component-image {
    transform: scale(1.1);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.component-detail:hover .component-name-tooltip {
    visibility: visible;
    opacity: 1;
    transition-delay: 0.1s;
}

.tooltip-content {
    font-size: 0.9em;
    line-height: 1.4;
}

.tooltip-title {
    font-weight: bold;
    margin-bottom: 5px;
}

.tooltip-price {
    font-size: 1.2em;
    color: #a0a0a0; 
}


