.main-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap :50px;
}

.item{
    width: 40%;  
}

.product-title {
    font-size: 1.5rem;
    font-family: Arial, sans-serif;
    font-weight: bold;
    color: #000000; 
}

.product-row , .product-row2 {
    border: 1px solid #ddd;
    padding: 10px 0px;
    background-color: #f4f4f4;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border-radius: 10px;
    transition: box-shadow 0.3s ease, transform 0.3s ease; 
}

.product-row2{
    background-color: black;
}

.product-row:hover , .product-row2:hover{
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25); 
    transform: translateY(-4px); 
}

.product-row2:hover {
    background-color: red;
}

.product-row img {
    width: 10%;
    margin-left: 10px;
    height: auto;
    border-radius: 5px;
    transition: transform 0.3s ease, box-shadow 0.3s ease; 
}

.product-info {
    padding-left: 10px;
    font-size: 1.1rem; 
    font-weight: bold; 
    color: #333; 
    
}

.product-actions {
    display: flex;
    flex-direction: row; 
    align-items: center; 
    gap: 1px; 
}

.product-actions span {
    font-size: 1rem; 
    font-weight: 600; 
    color: #007bff; 
    background-color: rgba(0, 123, 255, 0.1); 
    margin: 10px;
}

.change-btn , .remove-btn{
    padding: 8px 12px;
    margin-right: 10px;
    background-color: #000000; 
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1.1rem;
    transition: background-color 0.3s ease, transform 0.2s ease; 
}

.change-btn:hover, .remove-btn:hover {
    background-color: red; 
}


.product-row2:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25); 
    transform: translateY(-4px); 
    background-color: red;
}

.product-row2 img {
    width: 40px;
    height: auto;
    padding: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth transition for hover effects */
}
.product-info2 {
    display: flex;
    gap: 10px;
    font-size: 0.8rem; /* Adjust font size */
    color: #333; /* Dark grey color for better readability */
}

.product-info2 span {
    white-space: nowrap; /* Prevents text from wrapping */
    font-size: 1.9rem; /* Slightly larger font size for item name */
    font-weight: bold; /* Make the item name bold */
    color: white; /* Space between elements */
}

.active-build-btn {
    padding: 20px 60px;
    background-color: #16a085; /* Example: Blue color */
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1.2rem;
    cursor: pointer;
    text-decoration: none;   
}

.active-build-btn:hover {
    background-color: red; /* Darker shade for hover */
    
}

.create-build-btn button, .view-current-build-btn button {
    padding: 18px 60px;
    background-color: #16a085; /* Example: Blue color */
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1.2rem;
    cursor: pointer;
    
}

.create-build-btn button:hover, .view-current-build-btn button:hover {
    background-color: red; /* Darker shade for hover */
    
}
.error-box{

    text-align: center;
}

.error-message {
    color: #D8000C;
    display: inline-flex; /* Changed from flex to inline-flex */
    background-color: #fcdede;
    border: 1px solid #D8000C;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 5px;
    justify-content: center;
    max-width: 80%; /* Example max-width, adjust as needed */
    margin-left: auto; /* Center the div horizontally */
    margin-right: auto;
}

.heading {
    text-align: center;
    font-size: 2rem;
    font-family: Arial, sans-serif;
    margin-top: 20px;
    margin-bottom: 20px;
}

.main-container-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 50px;
    gap: 10px; /* Add space between buttons */
}

.create-build-btn, .view-current-build-btn {
    flex : 1 ;
    text-align: center;
}

/* Mobile responsiveness */
@media screen and (max-width: 600px) {

        
    .item{
        width: 60%;  
    }

    .product-row {
        flex-direction: column;
        align-items: center;
    }

    .product-row img {
        width: 50%; /* Smaller image size for mobile */
        max-width: 100px; /* Set a max-width to keep images from being too large */
        margin-right: 0; /* Remove margin on the right */
        margin-bottom: 10px; /* Add space below the image */
    }

    .product-info {
        margin-bottom: 10px;
    }

    .product-info span {
        margin: 0px;
        font-size: 1rem; /* Slightly larger font size for item name */
        font-weight: bold; /* Make the item name bold */
        color: #333; /* Space between elements */
    }

    .product-actions {
        display: flex;
        flex-direction: column; /* Stack elements vertically */
        align-items: flex-start;
        width: 100%;
        align-items: center;
    }


    .remove-btn, .change-btn {
        width: 100px;
        margin-right: 0px;
        margin-bottom: 5px;
        font-size: 0.9rem;
        margin-top: 10px; /* Add space above the button */
    }

    .product-info2 span {
        white-space: nowrap; /* Prevents text from wrapping */
        font-size: 1.1rem; /* Slightly larger font size for item name */
        font-weight: bold; /* Make the item name bold */
        color: white; /* Space between elements */
    }
}


@media screen and (max-width: 600px) {
    .main-container-2 {
        flex-direction: column;
        gap: 10px;
    }

    .create-build-btn, .view-current-build-btn {
        width: 100%;
    }
}






