/* General Styles */
body {
    color: #333;
    margin: 0;
    padding: 0;
}

/* Orders Container Styles */
.orders-container {
    width: 80%;
    margin: 10px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.orders-header{
    background-color: #ddefea;
    padding: 12px;
    color: #333;
    text-align: center;
    margin-bottom: 30px;
    font-size: 2em;
}
/* Orders Table Styles */
.orders-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.orders-table th, .orders-table td {
    text-align: left;
    padding: 12px;
    border-bottom: 1px solid #ddd;
}

.orders-table th {
    background-color: #e3e1e1;
    color: black;
}

.orders-table td {
    padding: 15px;
    border-bottom: 1px solid #ddd;
}

/* Empty Orders Message */
.no-orders-message {
    text-align: center;
    color: #666;
    font-style: italic;
}

/* Details Button */
.details-button {
    background-color: black;
    color: white;
    padding: 8px 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
}

.details-button:hover {
    background-color: red;
}

.orders-table tr:nth-child(even) {
    background-color: #f4f4f4f4; 
}

/* Table Rows Hover Effect */
/* .table-data-row:hover {
    background-color: #e4f7f4;
    
}

.orders-table tr:nth-child(even):hover {
    background-color: #e4f7f4;
    
} */

.filter-sort-container {
    text-align: center;
    margin-bottom: 20px;
}

/* Dropdown Styles */
.filter-sort-container select.filter-dropdown {
    padding: 8px 12px;
    margin-right: 10px;
    border: 1px solid #ddd;
    background-color: #f8f8f8;
    font-size: 1rem;
}

/* Style for selected option */
.filter-sort-container select.filter-dropdown option:checked {
    background-color: #16a085;
    color: white;
}

/* Apply Filter Button */
.apply-filter-button {
    background-color: #16a085; /* Matching theme color */
    color: white;
    padding: 10px 20px; /* Sufficient padding for better appearance */
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem; /* Standard font size for readability */
    margin-left: 10px; /* Spacing from the dropdown */
}

.apply-filter-button:hover {
    background-color: red; /* Slightly darker shade for hover effect */
    color: #f8f8f8; /* Lighter color for text on hover */
}

@media screen and (max-width: 768px) {
    .orders-table, .orders-table thead, .orders-table tbody, .orders-table th, .orders-table td, .orders-table tr {
        display: block;
        width: 100%;
    }

    .orders-container {
        width: 90%;
       
    }

    .orders-table thead {
        display: none;
    }

    .orders-table td {
        text-align: left; /* Ensures text starts from the left, good for readability */
        border-bottom: 0px ; 
        position: relative; /* Allows absolute positioning inside */
        padding-left: 50%; /* Gives room for the label on the left */
        margin-top: 10px; /* Space between entries */
    }

    .td-order-id:before { content: "Order ID: "; }
    .td-created-at:before { content: "Created At: "; }
    .td-payment-status:before { content: "Payment Status: "; }
    .td-total:before { content: "Total (RS.): "; }
    .td-delivery-status:before { content: "Delivery Status: "; }
    .td-details:before { content: "Details: "; }

    .orders-table td:before {
        position: absolute;
        left: 10px; /* Spacing from the left edge */
        font-weight: bold; /* Makes the labels bold */
    }

    .details-button {
        position: relative;
    }

    .table-data-row{
        background-color: #f4f4f4f4; 
        
        margin-bottom: 20px;
        border-radius: 10px;
    }

    .apply-filter-button {
        margin: 0px;
        margin-top: 10px; /* Spacing from the dropdown */
    }
}

