body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #ffffff;
}

.main-container {
  display: flex;
  justify-content: space-between;  /* Changed to space-between to use available space */
  align-items: flex-start;
  padding: 20px;
  gap: 20px;
  background-color: rgb(255, 255, 255);
  
}

.create-repair-section, .list-repair-section {
  flex: 1;  /* Flex 1 allows each section to take equal space of the container */
  background: #f4f4f4;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 0 10px; /* Ensures spacing between the sections */
}

.section-heading {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 60px;
  text-align: center;
  color: #333;
  background-color: #ddefea;
  padding: 10px 20px;
}

.repair-form .form-field, .details-form .repair-item {
  margin-bottom: 15px;
}

.form-label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #333;
}

.form-input, .form-textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
  background-color: #fff;
}

.form-textarea {
  height: 100px;
  resize: vertical;
}

.submit-button, .details-button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #000000;
  color: white;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.submit-button:hover, .details-button:hover {
  background-color: red;
}

.repairs-list {
  list-style: none;
  padding: 0;
  margin: 0;
  max-height: 400px;
  overflow-y: auto;
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.repair-item {
  padding: 15px;
  margin-bottom: 10px;
  background-color: #fff;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #ddd;
}

@media (max-width: 768px) {
  .main-container {
      flex-direction: column;
      align-items: stretch; /* Ensures items stretch to take the full container width */
  }

  .create-repair-section, .list-repair-section {
      flex-basis: auto;  /* Allows the sections to auto-adjust their basis depending on content */
      margin: 10px 0;  /* Adjusts margin for vertical layout */
      width: 100%;  /* Ensures each section takes full width on smaller screens */
  }

  .repair-item {
      flex-direction: column;
      align-items: flex-start;
  }

  .details-button {
      width: 100%;
      margin-top: 10px;
  }
}

@media (max-width: 480px) {
  .form-input, .form-textarea {
      padding: 8px;
  }

  .submit-button, .details-button {
      font-size: 14px;
      padding: 8px 15px;
  }

  .repairs-list {
      max-height: 300px;  /* Adjusts max-height for smaller devices */
  }
}




  
  