body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.cart-container {
    width: 80%;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.cart-container h1 {
    text-align: center;
    color: #000000;
    background-color: #ddefea;
    padding : 20px;
    margin-bottom: 10px;
}

/* Styling for the cart table */
.cart-table {
    width: 100%;
    border-collapse: collapse;   
}

.cart-table td {
    text-align: left;
    padding: 10px;
    border-bottom: 1px solid #e0dede;
}

.cart-table th {
    text-align: left;
    background-color: #f2f2f2;
    color: #333;
    padding: 10px; 
}

/* product column */
.cart-table td:first-child {
    max-width: 200px;
    padding-right: 30px;
}

/* price column */
.cart-table td:nth-child(2) {
    max-width: 100px;
    
}


.cart-table th:nth-child(3) {
    padding-left: 40px;
}

.cart-table th:nth-child(4) {
    padding-left: 35px;
    /* background-color: red; */
}

.product-details {
    display: flex;
    align-items: center; /* Vertically align items */ 
}

.product-details img {
    max-width: 100px; /* Adjust the width as needed */
    margin-right: 10px; /* Add some spacing between the image and text */
    padding-right: 10px;
    
}

.quantity-controls, .delete-button {
    text-align: left;
    
}

.quantity-controls input[type="text"] {
    width: 40px;
    text-align: center;
    border: 1px solid #ccc;
    padding: 5px; 
}

.quantity-controls input[type="text"]:focus {
    border-color: #000000;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2), 0 0 5px rgba(0, 123, 255, 0.5);
}

.quantity-controls button {
    background-color: #515151;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
    margin: 5px;
}

.quantity-controls button:hover {
    background-color: red;
}

.delete-button {
    background-color: #16a085;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.1s ease, transform 0.3s ease;
    margin-left: 20px;
}

.delete-button:hover {
    background-color: red;
}

.cart-total {
    text-align: right;
    display: flex;
    flex-direction: column;
    
}

.cart-total h2 {
    color: #333;
    font-size: 25px;

}

.checkout-button {
    background-color: #000000;
    color: white;
    border: none;
    padding: 18px 100px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 26px;
    width: 100%;
    transition: background-color 0.2s ease, transform 0.3s ease;
}

.checkout-button:hover {
    background-color: rgb(130, 209, 209);
    background-color: red;
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.out-of-stock-message {
    background-color: #ffdddd;
    border: 1px solid #ff0000;
    color: #ff0000;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.empty-cart-message {
    /* background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('background.jpg'); */
    /* background-position: center center; */
    background-image: url(../../images/cart-empty.png);
    background-size: contain;
    background-repeat: no-repeat;
    color: #555;
    background-color: #fffefe;
    border: 1px solid #ddd;
    padding: 10vh 20vh; 
    text-align: center;
    font-size: 3.2em;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

@media screen and (max-width: 768px) {
    .cart-table, .cart-table thead, .cart-table tbody, .cart-table th, .cart-table td, .cart-table tr {
        display: block;
        width: 100%;
    }

    .cart-table thead tr {
        display: none;
    }

    .cart-item{
        background-color: #f4f4f4;
        border-radius: 10px;
        
    }

    .cart-table tr {
        margin: 0 0 20px 0;
    }

    .cart-table td {
        border: none;
       
        width: 100%;
    }

    .cart-table td:before {
        white-space: nowrap;
        text-align: left;
        font-weight: bold;
    }

    .delete-button{
        margin : 0px;
       
    }

    /* Label the data */
    .cart-table td:nth-of-type(1):before { content: "Product"; }
    .cart-table td:nth-of-type(2):before { content: "Price : "; }
    
    .cart-table td:nth-of-type(5):before { content: "Sub Total : "; }

    .product-details img {
        width: 80px; /* Smaller images on mobile */
    }
    
    .cart-container h1, .cart-total h2 {
        font-size: 18px; /* Smaller headers on mobile */
    }

    .quantity-controls input[type="text"], .quantity-controls button, .delete-button, .checkout-button {
        padding: 8px 12px;
    }
    
    .checkout-button {
        padding: 12px;
        font-size: 18px;
    }

}
