body {
  font-family: Arial, sans-serif;
}

.item-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
  justify-content: center;
}

.item-card {
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  text-align: center;
  padding: 10px;
  width: 250px;
  color: white;
  background-size: 100% 200%;
  transition: background 1s;
  background-position: 0% 0%;
  cursor: pointer;
}

.item-card:hover {
  background: linear-gradient(to bottom, black 0%, #e74c3c 50%);
  background-size: 100% 100%;
  background-position: 0% 100%;
  padding: 10px;
  width: 250px;
  color: black;
}

.item-card:hover .price {
  color: white;
}

.item-card img {
  max-width: 100%;
  height: auto;
}

.item-card h3 {
  margin: 10px 0;
}

.price {
  font-size: 1.5rem;  /* Adjust to a larger font size */
  font-weight: bold;  /* Make it bold */
  color: #e44d26;    /* Keep the original color, or adjust as needed */
  margin: 10px 0;
}

.description {
  font-size: 14px;
}


.price-container {
  margin-top: auto;
  padding: 10px; 
  background-color: #151313;
  color: #e44d26;
}

