.header-container {
    background-color: var(--bg-color);
    height: 10vh;
    width: 95vw;
    border-radius: 5vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 3vh;
    margin: 0 2vw;
    z-index: 10;
}


.logo {
    background-color: transparent;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 3em;
    min-width: 15%;
    margin-left: 0.5em;
}

.logo a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 1.5em;
    font-size: large;
    font-weight: 600;
    background-color: var(--bg-alt-color);
    color: var(--bg-color);
    letter-spacing: 0.2em;
}

.logo a:hover {
    background-color: var(--bg-color);
    color: var(--bg-alt-color);
    transition: ease-in-out 0.4s;
}



.middle-nav-container {
    background-color: var(--bg-color);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: space-between;
    height: 4em;
    min-width: 60vw;
    border-radius: 2em;
}

.middle-nav-container .list {
    height: 100%;
    min-width: 25%;
}

.middle-nav-container .list a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.middle-nav-container .list:first-child,
.middle-nav-container .list:first-child a {
    border-radius: 2em 0 0 2em;
}

.middle-nav-container .list:last-child,
.middle-nav-container .list:last-child a {
    border-radius: 0 2em 2em 0;
}

.middle-nav-container .list a .material-symbols-outlined {
    border: 1px solid var(--bg-alt-color);
    background-color: var(--bg-color);
    color: var(--bg-alt-color);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4em;
    width: 4em;
    border-radius: 50%;
    position: absolute;
    transition: ease-in-out 0.5s;
}

.middle-nav-container .list a .material-symbols-outlined:hover {
    background-color: var(--bg-alt-color);
    color: var(--bg-color);
}

.middle-nav-container .list a .text {
    /* display: none; */
    visibility: hidden;
}

/* .middle-nav-container .active {
    border-radius: 2rem;
} */

.middle-nav-container .active a .material-symbols-outlined {
    background-color: var(--bg-alt-color);
    color: var(--bg-color);
    border: 3px solid;
    position: absolute;
    transform: translateX(-3.75vw);
    transition: 400ms ease-in-out;
}

.middle-nav-container .active a .text {
    /* display: block; */
    visibility: visible;
    position: absolute;
    transform: translateX(3.75vw);
    transition: ease-in-out 400ms;
    font-size: large;
    font-weight: 500;
    color: var(--bg-alt-color);
}




.login-register {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 3em;
    min-width: 15%;
    margin-right: 0.5em;
    border-radius: 1.5em;
}

.login-register a {
    font-size: 0.8rem;
    font-weight: 500;
    background-color: transparent;
    color: var(--bg-color);
    letter-spacing: 0.1em;
}

.login-register a span {
    background-color: transparent;
}

.login-register .login-block {
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding: 1.45rem; */
    border-radius: 2rem 0 0 2rem;
}

.login-register .login-block a {
    background-color: var(--bg-alt-color);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2rem 0 0 2rem;
}

.login-register .login-block a:hover {
    background-color: var(--bg-color);
    color: var(--bg-alt-color);
    transition: ease-in-out 0.4s;
}

.login-register .register-block {
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding: 1.45rem; */
    border-radius: 0 2rem 2rem 0;
}

.login-register .register-block a {
    background-color: var(--bg-alt-color);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0 2rem 2rem 0;
}

.login-register .register-block a:hover {
    background-color: var(--bg-color);
    color: var(--bg-alt-color);
    transition: ease-in-out 0.4s;
}