body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: rgb(216, 216, 216);
}

.flexbox {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  
  
}

.outer-container {
  display: flex;
  width: 70%;
  margin: 50px;
  margin-top: 0px;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
  position: relative;
}

.outer-container::before {
  content: '';
  position: absolute;
  left: 50%;
  top: 10%;
  bottom: 10%;
  width: 1px;
  background-color: #16a085;
}

.image {
  width: 50%;
  height: auto;
  object-fit: cover;
  position: relative;
}

.image::after {
  content: '';
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 2px;
}

.form-container {
  width: 50%;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form-container .label {
  font-size: 16px;
  color: #333;
  margin-bottom: 8px;
  display: block;
  font-weight: bold;
}

.field {
  margin-top: 10px;
  margin-bottom: 20px;
  padding: 12px 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  width: calc(100% - 30px);
  box-sizing: border-box;
}

.field:focus {
  border-color: #16a085;
  box-shadow: 0 0 8px rgba(22, 160, 133, 0.2);
  outline: none;
}

input[type="submit"] {
  background-color: #16a085;
  color: white;
  border: none;
  padding: 10px 10px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 18px;
  width: 95%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-top: 10px;
}

input[type="submit"]:hover {
  background-color: red;
}


.form-container .title {
  font-size: 44px;
  color: #000000;
  margin-bottom: 70px;
  text-align: center;
  font-weight: bold;
}

/* Label Styling */
.form-container .form-label {
  font-size: 20px;
  color: #000000;
  margin-bottom: 20px;
  
  font-weight: bold;
}
