/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 2; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: 10vh auto; /* 10% of the viewport height from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Adapt to the screen size */
  max-width: 500px; /* Maximum width */
  box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* Shadow for depth */
  border-radius: 8px; /* Rounded corners */
}

/* Modal Header */
.modal-header {
  position: relative; /* Add this to ensure the close button's positioning is relative to this container */
  
 
}

/* The Close Button */
.close {
  position: absolute; /* Absolutely position the close button within the .modal-header */
  top: -20px; /* Align to the top of the .modal-header */
  right: 0px; /* Right align within the .modal-header with some padding */
  color: #aaa;
  font-size: 25px; /* Adjust size as needed */
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}


/* Input Field Styles */
.modal input[type="text"],
.modal input[type="password"] {
  width: calc(100% - 20px); /* Full width minus padding */
  padding: 12px 10px;
  margin-top: 8px;
  margin-bottom: 16px;
  border: 1px solid #ccc;
  border-radius: 4px; /* Slightly rounded corners for the input fields */
}

/* Button Styles */
/* Button Styles */
.modal .btn-primary {
  background-color: #16a085; /* Green */
  color: white;
  padding: 10px 30px;
  margin: 10px 0;
  border: none;
  cursor: pointer;
  font-size: 16px;
  opacity: 0.9;
  transition: background-color 0.3s ease; /* Smooth transition for background color */
}

.modal .btn-primary:hover {
  background-color: red; /* Darker shade of green for hover effect */
  opacity: 1; /* Full opacity on hover */
}


.modal .btn-primary:hover {
  opacity: 1;
}

.alert-otp {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
  padding: 15px;
  max-width: 90%;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}

.blur {
  filter: blur(8px);
}





