body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}

h1 {
    text-align: center;
    color: #333;
}

.repairs-list {
    
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    margin-bottom: 20px;
}

.repairs-list ul {
    list-style: none;
    padding: 0;
}

.repairs-list li {
    border-bottom: 1px solid #eee;
    padding: 10px;
    font-size: 16px;
}

.repair-id, .item-name {
    font-weight: bold;
    margin-right: 10px;
}

.details-form {
    display: inline;
}

.details-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 6px 12px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.details-button:hover {
    background-color: #0056b3;
}

.details-form {
    text-align: left; /* Align the contents of the form to the left */
}


.create_repair {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: grid;
    text-decoration: none;
    background-color: #a43d3d;
    color: white;
    padding: 20px 40px;
    border-radius: 4px;
    margin-top: 0px;
    margin-left: 100px; 
    margin-right: 100px;
    margin-bottom: 100px;
    font-weight: bold;
    text-align: center;
}

.create_repair:hover {
    background-color: rgb(94, 86, 185);
}

a {
    color: rgb(255, 255, 255);
    text-decoration: none;
  }