/* Style for the form */

.form-con{
  display: flex;
  justify-content: center;
  width: 100%;
}

form {
    width: 30%;
    padding: 0px 40px;
    background-color: #f9f9f9;
    display: flex;
    flex-direction: column;
    gap : 10px
    
}

h1{
  background-color: #e4f7f4;
  padding: 10px 10px;
  border-radius: 10px;
}

.form-heading{
    text-align: center;
    background-color: #ddefea;
    padding: 10px 20px ;
    margin: 0px;
    border-radius: 10px;
}
/* Style for each form element container */
form div {
    margin-bottom: 10px;
}

/* Style for input fields and select box */
input[type=email],
input[type=password],
input[type=text],
input[type=number],
input[type=date],
select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box; /* Ensures padding doesn't affect overall width */
}

/* Style for the submit button */
input[type=submit] {
    background-color: #16a085;
    color: white;
    padding: 10px 0px;
    font-size: 20px;
    margin-top: 10px;
    font-weight: bold;
    width: 100%;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: red;
}

.alert-danger {
    
    color: #ffffff;
    background-color: #000000;
    padding: 10px;
    width: 96%;
    border-radius: 4px;
    border: 1px solid #000000;
}


input[type=file]::file-selector-button {
    margin-right: 20px;
    border: none;
    background: black;
    padding: 10px 30px;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
    transition: background .2s ease-in-out;
  }
  
  input[type=file]::file-selector-button:hover {
    background: red;
  }

  textarea#product_description {
    width: 100%;  /* Full width of the container */
    height: 10vh; /* Fixed height */
    padding: 10px; /* Optional: Adds space inside the borders */
    box-sizing: border-box; /* Makes sure padding does not affect the final size */
}

