/* 
body {
    font-family: Arial, sans-serif;
    background-color: #fafafa;
    color: #333;
    margin: 0;
    padding: 0;
}


.orders-container {
    width: 80%;
    margin: 40px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


.orders-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.orders-table th, .orders-table td {
    text-align: left;
    padding: 12px;
    border-bottom: 1px solid #ddd;
}

.orders-table th {
    background-color: #16a085;
    color: white;
}

.orders-table td {
    padding: 15px;
    border-bottom: 1px solid #ddd;
}




.details-button:hover {
    background-color: #333;
    text-decoration: none; 
}


.orders-header {
    color: #333;
    text-align: center;
    margin-bottom: 30px;
    font-size: 2em;
}


.no-orders-message {
    text-align: center;
    color: #666;
    font-style: italic;
}


.details-button {
    background-color: #000000;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    text-decoration: none;
}

.details-button:hover {
    background-color: #333;
}


.table-data-row:hover {
    background-color: #f2f2f2;
}


.out-of-stock-message {
    background-color: #ffdddd;
    border: 1px solid #ff0000;
    color: #ff0000;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.out-of-stock-message p {
    margin: 0 0 10px 0;
    font-weight: bold;
}

.filter-sort-container {
    text-align: center;
    margin-bottom: 20px;
}



.filter-sort-container select.filter-dropdown {
    
    padding: 8px 12px;
    margin-right: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 1rem;
    cursor: pointer;
    outline: none; 
    transition: all 0.3s ease;
    width: 150px; 
}


.filter-sort-container select.filter-dropdown option {
    padding: 10px;
    background-color: #f8f8f8;
    color: #333;
    font-size: 1rem;
    border-bottom: 1px solid #ddd;
}

.filter-sort-container select.filter-dropdown:hover,
.filter-sort-container select.filter-dropdown:focus {
    border-color: #16a085;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


.filter-sort-container select.filter-dropdown option:checked {
    background-color: #16a085;
    color: white;
} */



